.keyboard {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.keyboard > :nth-child(2) {
    margin-left: 24px
}

.keyboard > :nth-child(3) {
    margin-left: 40px
}

.key {
    min-width: 35px;
    min-height: 35px;
}

@media only screen and (max-width: 576px) {
  .keyboard{
    position: fixed;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }
}